<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<footer>
  <a href="/">
    <img
      src="{{theme.logo.src}}"
      alt="{{theme.logo.alt}}"
      width="{{theme.logo.width}}"
      height="{{theme.logo.height}}"
    />
  </a>
  <ul>
    <li>
      <a href="/">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="fa-brands fa-yelp"></i>
      </a>
    </li>
  </ul>
</footer>
<!-- End partial -->
