<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<nav>
  <a href="#">
    <img
      src="{{theme.logo.src}}"
      alt="{{theme.logo.alt}}"
      width="{{theme.logo.width}}"
      height="{{theme.logo.height}}"
    />
  </a>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Stuff</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>
<!-- End partial -->
