<section>
  <main
    style="background-image: url('{{ module.landing_background.src }}');
   background-position: {{module.landing_background.background_position}};
   background-size: {{module.landing_background.background_size}};
  "
  >
    {% if module.landing_background.src %}
    <div
      class="overlay"
      style="background-image: url('{{ module.landing_overlay.src }}');
      background-size: {{module.landing_overlay.background_size}};
      "
    ></div>
    {% endif %}
    <div class="landing-title">
      <h1>{{module.landing_layout.landing_title}}</h1>
      <h3>{{module.landing_layout.landing_subtitle}}</h3>
    </div>
    <div class="landing-card">
      <div class="landing-card_text">
        <div class="landing-card_text_title">
          <h1>{{module.landing_layout.card_title}}</h1>
        </div>
        <div class="landing-card_text_desc">
          <p>{{module.landing_layout.desc}}</p>
        </div>
        {% if module.cta_link.url %}
        <a href="{{module.landing_layout.cta_link.url}}" class="cta"
          >The Link</a
        >
        {% endif %}
      </div>
      <div class="landing-card_image">
        <img
          src="{{module.landing_layout.landing_card_image.src}}"
          alt="{{module.landing_layout.landing_card_image.alt}}"
        />
      </div>
    </div>
  </main>
</section>
