* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  min-height: 100vh;
}

main {
  position: relative;
  z-index: -2;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4.35%;
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  flex-direction: row;
}
.left {
  flex-direction: row-reverse;
}

main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  mix-blend-mode: overlay;
  background-position: 100% top;
}

.landing-title {
  color: #fff;
  text-shadow: 2px 4px 6px #000;
}
.landing-title h1 {
  font-size: 3rem;
}
.landing-title h3 {
  font-size: 2.5rem;
}

.landing-card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.landing-card_text {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 250, 0, 0.7);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.landing-card_text p {
  margin: 10px 0 16px;
}
.cta {
  padding: 0.25rem 0.75rem;
  background: #000;
  border-radius: 8px;
}
.landing-card_image {
  max-width: 400px;
}
.landing-card_image img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
